In [61]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [62]:
dq =pd.read_csv("plt1.tab",sep ='\t')

In [39]:
dq = dq[dq.fpl_bmassj <= 20 ]

In [40]:
dq

    fpl_hostname fpl_letter   fpl_discmethod  fpl_smax  fpl_bmassj
0        KOI-351          h          Transit      1.01       1.200
1      Kepler-48          e  Radial Velocity       NaN       2.067
2        HR 8799          e          Imaging     16.40      10.000
3      HD 141399          d  Radial Velocity      2.09       1.180
4         47 UMa          d  Radial Velocity     11.60       1.640
..           ...        ...              ...       ...         ...
769    Kepler-57          b          Transit       NaN      18.860
770    HD 131664          b  Radial Velocity      3.17      19.120
771       11 Com          b  Radial Velocity      1.29      19.400
772       GQ Lup          b          Imaging    100.00      20.000
773    HIP 97233          b  Radial Velocity      2.55      20.000

[772 rows x 5 columns]

In [23]:
df = dq[dq['fpl_discmethod'].str.contains("Imaging")]

In [26]:
dq.describe()

          fpl_smax  fpl_bmassj
count   768.000000  809.000000
mean     28.343129    7.403405
std     215.103370   29.717380
min       0.004400    1.010000
25%       0.063290    1.636000
50%       1.149500    2.750000
75%       2.612500    6.780000
max    3500.000000  752.000000

In [25]:
809-47

762

In [54]:
dq1 = dq[~dq.fpl_letter.str.contains("c")]

In [55]:
dq1

    fpl_hostname fpl_letter             fpl_discmethod  fpl_smax  fpl_bmassj
0        KOI-351          h                    Transit      1.01       1.200
1      Kepler-48          e            Radial Velocity       NaN       2.067
3      HD 141399          d            Radial Velocity      2.09       1.180
4         47 UMa          d            Radial Velocity     11.60       1.640
5         NN Ser          d  Eclipse Timing Variations      3.43       2.300
..           ...        ...                        ...       ...         ...
768    Kepler-53          b                    Transit       NaN      18.410
769    Kepler-57          b                    Transit       NaN      18.860
770    HD 131664          b            Radial Velocity      3.17      19.120
771       11 Com          b            Radial Velocity      1.29      19.400
773    HIP 97233          b            Radial Velocity      2.55      20.000

[637 rows x 5 columns]

In [42]:
dq

    fpl_hostname fpl_letter             fpl_discmethod  fpl_smax  fpl_bmassj
0        KOI-351          h                    Transit      1.01       1.200
1      Kepler-48          e            Radial Velocity       NaN       2.067
3      HD 141399          d            Radial Velocity      2.09       1.180
4         47 UMa          d            Radial Velocity     11.60       1.640
5         NN Ser          d  Eclipse Timing Variations      3.43       2.300
..           ...        ...                        ...       ...         ...
768    Kepler-53          b                    Transit       NaN      18.410
769    Kepler-57          b                    Transit       NaN      18.860
770    HD 131664          b            Radial Velocity      3.17      19.120
771       11 Com          b            Radial Velocity      1.29      19.400
773    HIP 97233          b            Radial Velocity      2.55      20.000

[734 rows x 5 columns]

In [43]:
df = dq[~dq.fpl_letter.str.contains("b")]

In [44]:
df

    fpl_hostname fpl_letter             fpl_discmethod  fpl_smax  fpl_bmassj
0        KOI-351          h                    Transit    1.0100       1.200
1      Kepler-48          e            Radial Velocity       NaN       2.067
3      HD 141399          d            Radial Velocity    2.0900       1.180
4         47 UMa          d            Radial Velocity   11.6000       1.640
5         NN Ser          d  Eclipse Timing Variations    3.4300       2.300
..           ...        ...                        ...       ...         ...
110    Kepler-53          c                    Transit       NaN      15.740
111      WASP-53          c            Radial Velocity    3.7300      16.350
112     CoRoT-20          c            Radial Velocity    2.9000      17.000
113    HD 168443          c            Radial Velocity    2.8373      17.193
114    HD 202206          c            Radial Velocity    2.4100      17.900

[109 rows x 5 columns]

In [45]:
740-109

631

In [58]:
df = df[~df.fpl_letter.str.contains("c")]

In [59]:
df

   fpl_hostname fpl_letter             fpl_discmethod  fpl_smax  fpl_bmassj
0       KOI-351          h                    Transit   1.01000     1.20000
1     Kepler-48          e            Radial Velocity       NaN     2.06700
3     HD 141399          d            Radial Velocity   2.09000     1.18000
4        47 UMa          d            Radial Velocity  11.60000     1.64000
5        NN Ser          d  Eclipse Timing Variations   3.43000     2.30000
6       KOI-142          d            Radial Velocity       NaN     3.05046
7        55 Cnc          d            Radial Velocity   5.50300     3.87800
8       ups And          d            Radial Velocity   2.51329     4.13200
9      HD 27894          d            Radial Velocity   5.44800     5.41500
10    Kepler-56          d            Radial Velocity   2.16000     5.61000
11    Kepler-31          d                    Transit   0.40000     6.80000
12    HD 125612          d            Radial Velocity   4.06000     7.28000

In [60]:
109-12

97